{% extends 'base.html' %}

{% block content %}

    {% if albums|length == 0 %}
        No albums by this artist currently in stock!
    {% endif %}

    {% for album in albums|sort(reverse = true,attribute="release_year") %}
    <section id="album-entry">   
        <p class="album-title"><a class="album-link" href="/albums/{{album.id}}">{{ album.title }}</a></p> by
        <p class="album-artist">{{ artist.name }}</a></p>
        <p>Genre: {{ album.genre }}</p>
        <p>Label: {{ album.label }}</p>
        <p>Release Year: {{ album.release_year }}</p>
        
        <p>R.R.P: £{{ '%0.2f'| format(album.price) }}</p>
        <p>Cost Price: £{{ '%0.2f'| format(album.cost_price) }}</p>
        <p>Markup: {{ '%0.2f'| format(((album.price - album.cost_price) / album.cost_price) * 100 )}}%</p>
        {% if album.stock >= 3 %}
            <p>Quantity in Hand: {{ album.stock }}</p>
        {% elif album.stock == 0 %}
            <p class="no-stock">OUT OF STOCK ❌ </p>
        {% elif album.stock < 3 %}
            <p class="stock-warning">Stock Level = {{ album.stock }} WARNING: LOW STOCK</p>
        {% endif %}
        <div class="buttons-container">
            <form class="edit-form" action="/albums/{{album.id}}/edit">
                <button class="edit-button">EDIT</button>
            </form>
            <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
                <button class="trash-button">DELETE</button>
            </form>
        </div>
        <hr>
    </section>
    {% endfor %}    

{% endblock content %}
