{% extends 'base.html' %}

{% block content %}

    {% if albums|length == 0 %}
        No albums by this artist currently in stock!
    {% endif %}

    {% for album in albums|sort(reverse = true,attribute="release_year") %}
    
    <span><p class="album-title"><a class="album-link" href="/albums/{{album.id}}">{{ album.title }} </a></p> by <p class="album-artist">{{ album.artist.name }}</p></span>
    <div class="album-container">
        <table>
            <tr>
                <td>Genre: {{ album.genre }}</td>
                <td>Record Label: {{ album.label.name }}</td>
                <td>Release Year: {{ album.release_year }}</td>
            </tr>
            <tr>
                <td>R.R.P: £{{ '%0.2f'| format(album.price) }}</td>
                <td>Cost Price: £{{ '%0.2f'| format(album.cost_price) }}</td>
                <td>Markup: {{ '%0.2f'| format(((album.price - album.cost_price) / album.cost_price) * 100 )}}%</td>
            </tr>
        
        </table>
        <img class ="cover-art" src="{{album.cover_art}}" alt="Album Cover Art">
    </div>
    {% if album.stock >= 3 %}
        <p>Quantity in Hand: {{ album.stock }}</p>
    {% elif album.stock == 0 %}
        <p class="no-stock"><span>OUT OF STOCK</span></p>
    {% elif album.stock < 3 %}
        <p> Stock Level = {{ album.stock }}</p> <p class="stock-warning"></p><span> WARNING: LOW STOCK</span></p>
    {% endif %}
    <!-- <section id="album-entry">   
        <p class="album-title"><a class="album-link" href="/albums/{{album.id}}">{{ album.title }}</a></p> by
        <p class="album-artist">{{ album.artist.name }}</a></p>
        <p>Genre: {{ album.genre }}</p>
        <p>Label: {{ album.label.name }}</p>
        <p>Release Year: {{ album.release_year }}</p>
        
        <p>R.R.P: £{{ '%0.2f'| format(album.price) }}</p>
        <p>Cost Price: £{{ '%0.2f'| format(album.cost_price) }}</p>
        <p>Markup: {{ '%0.2f'| format(((album.price - album.cost_price) / album.cost_price) * 100 )}}%</p>
      

        <img class ="cover-art" src="{{album.cover_art}}" alt="Album Cover Art"> -->
   
        <div class="buttons-container">
            <form class="edit-form" action="/albums/{{album.id}}/edit">
                <button class="edit-button">EDIT</button>
            </form>
            <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
                <button class="trash-button">DELETE</button>
            </form>
        </div>
        <hr>
    
    {% endfor %}    
</section>
{% endblock content %}
