/* Buttons */
button {
    background-color: #0B2545;
    color: white;
    border: none;
    width: 120px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px;
  }
  
  .stock-button {
    background-color: #0B2545;
    color: white;
    border: none;
    width: 30%;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px;
    
  }
  
  .buttons-container {
    display: flex;
  }
  
  .submit-button {
    margin: 10px;
  }
  
  button:hover {
    opacity: 1;
  }

  .order-btn {
    width: 250px;
  }