body {
    color: teal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
}

  nav {
    padding: 5px;
    margin: 5px;
    /* padding-right: 25px; */
  }
  
  nav ul li {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  
  main {
    padding: 25px;
  }
  
  #content {
    border-left: 1px solid #254E70;
    padding-left: 25px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  li {
    flex-grow: 1;
  }
  
  li > a {
    display: block;
    padding: 1em;
    background-color: teal;
    text-align: center;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: white;
    width: 6em;
  }
  
  li > a:hover {
    background-color: darkslategrey;
  }

  .album-name {
    text-decoration: none;
    text-transform: uppercase;
    color: teal;
  }

  .album-name:hover {
     font-weight: bolder;
     font-style: italic;
  }

  .btn span.icon {
    background: url(imgs/icon.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
}

.no-stock {
  color: red;
}

.stock-warning {
  color: coral;
}