body {
  background-color: #8DA9C4;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 10px;
  margin: 10px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0B2545; /* Black */
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 30px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
}

.sidenav a:hover {
  font-style: italic;
}

.content {
  margin-left: 160px; 
  padding: 0px 10px;
}

.album-name {
  text-decoration: none;
  text-transform: uppercase;
  color: teal;
}

.album-name:hover {
    font-weight: bolder;
    font-style: italic;
}

.no-stock {
color: red;
}

.stock-warning {
color: coral;
}

button {
  background-color: #0B2545;
  color: white;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px;
}

.submit-button {
  margin: 10px;
}

button:hover {
  opacity: 1;
}




