<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='album_cover.css') }}">
    <title>Vinyl Stock</title>
</head>
<body>
    <header>
        <nav class="sidenav">
            <a href="/">TOP SALES</a>
            <a href="/albums">FULL STOCK</a>
            <a href="/artists">BY ARTIST</a>
            <a href="/labels">BY RECORD LABEL</a>
            <a href="/genres">BY GENRE</a>
        </nav>
    </header>
    <main>

        <section class="content">
            {% block content %}
            
            {% endblock content %}
        </section>
    </main>
</body>
</html>