{% extends "base.html" %}

{% block content %}
<h1 class="home-heading">VINYL INVENTORY</h1>
<body class="body"></body>
<section class="bestseller-container">
    <div>
        <table class="bestseller-tbl">
            <th>Bestsellers</th> 
            {% for album in albums %}
                <tr class ="bestseller-entry">
                    <td>{{album.title}}</td> 
                    <td>{{album.artist.name}}</td> 
                    <td>{{album.genre.category}}</td>
                    <td> {{album.sales_count}} SOLD</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

    
{% endblock content %}

