{% extends "base.html" %}

{% block content %}
<h1 class="home-heading">VINYL INVENTORY</h1>
<body class="body"></body>
<section class="bestseller-container">
    <div>
        <table class="bestseller-tbl">
            <th>Bestsellers</th>
            <tr>
                <td>
                    <ol>
        {% for album in albums %} 
            <li class ="bestseller-entry">{{album.title}} - {{album.artist.name}} | {{album.sales_count}} SOLD</li>
        {% endfor %}
                    </ol>   
                </td>
            </tr>
        </table>
    </div>
</section>

    
{% endblock content %}

