{% extends "base.html" %}

{% block content %}
<a class="add-link" href="/albums/new">Add New Album to Stock</a>

<h1>Albums</h1>
<hr>
<section>
    {% for album in albums|sort(attribute="artist.name") %}
        
    <span><p class="album-title"><a class="album-link" href="/albums/{{album.id}}">{{ album.title }} </a></p> by <p class="album-artist"><a class="artist-link" href="/artists/{{album.artist.id}}">{{ album.artist.name }}</a></p></span>

    <h3>Record Label: <a class="label-link" href="/labels/{{album.label.id}}">{{ album.label.name }}</a></h3>
    <div class="album-container">
        <table>
            <tr>
                <td><p class="table-label">Genre:</p> {{ album.genre }}</td>
                <td><p class="table-label">Release Year:</p> {{ album.release_year }}</td>
                {% if album.stock >= 3 %}
                <td><p class="table-label">Qty. in Hand:</p> {{ album.stock }}</td>
            {% elif album.stock == 0 %}
                <td class="no-stock"><span>OUT OF STOCK</span></td>
            {% elif album.stock < 3 %}
                <td class="stock-warning"><span> WARNING: LOW STOCK ({{album.stock}})</span></p></td>
            {% endif %}
                </td> 
            </tr>
            <tr>
                <td><p class="table-label">Retail Price:</p> £{{ '%0.2f'| format(album.price) }}</td>
                <td><p class="table-label">Cost Price:</p> £{{ '%0.2f'| format(album.cost_price) }}</td>
                <td><p class="table-label">Markup:</p> {{ '%0.2f'| format(((album.price - album.cost_price) / album.cost_price) * 100 )}}%</td>
            </tr>
        </table>
        <img class ="cover-art" src="{{album.cover_art}}" alt="Album Cover Art">
    </div>
    
        <div class="buttons-container">            
            <form action="/albums/{{album.id}}/order", method="POST">
                <button class="order-btn">ORDER STOCK</button>
            </form>
            <form class="edit-form" action="/albums/{{album.id}}/edit">
                <button class="edit-btn">EDIT STOCK ENTRY</button>
            </form>
            <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
                <button class="trash-btn">DELETE STOCK ENTRY</button>
            </form>
        </div>
        <hr>
{% endfor %}
</section>
{% endblock content %}