{% extends "base.html" %}

{% block content %}
<h1>Albums</h1>

<section id="album-entry">
    {% for album in albums %}
        
        <p>Album Title: {{ album.title }}</p>
        <p>Artist: <a href="/artists/{{album.artist.id}}">{{ album.artist.name }}</a></p>
        <p>Genre: {{ album.genre }}</p>
        <p>Record Label: {{ album.label.name }}</p>
        <p>Release Year: {{ album.release_year }}</p>
        
        <p>R.R.P: £{{ '%0.2f'| format(album.price) }}</p>
        <p>Cost Price: £{{ '%0.2f'| format(album.cost_price) }}</p>

        {% if album.stock >= 3 %}
            <p>Stock Level = {{ album.stock }}</p>
        {% elif album.stock == 0 %}
            <p>OUT OF STOCK ❌ </p>
        {% elif album.stock < 3 %}
            <p>Stock Level = {{ album.stock }} WARNING: LOW STOCK</p>
        {% endif %}
       
        <!-- <form class="order-form" action="/albums/{{album.id}}/order" method="POST">
            <input type="number"
                    min="1"
                    name="order_amount"
                    id="order_amount"
                    placeholder="Order Amount">
            <button type="submit" class="order-button">ORDER STOCK</button>
        </form> -->
        <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
            <button class="trash-button">DELETE STOCK RECORD</button>
        </form>
        <hr>
{% endfor %}
</section>
{% endblock content %}