{% extends 'base.html' %}

{% block content %}
    
<p>Album Title: {{ album.title }}
<p>Artist: <a class="album-artist" href="/artists/{{album.artist.id}}">{{ album.artist.name }}</a></p>
<p>Genre: {{ album.genre }}</p>
<p>Record Label: {{ album.label }}</a></p>
<p>Release Year: {{ album.release_year }}</p>

<p>R.R.P: £{{ '%0.2f'| format(album.price) }}</p>
<p>Cost Price: £{{ '%0.2f'| format(album.cost_price) }}</p>
<p>Markup = {{ '%0.2f'| format(((album.price - album.cost_price) / album.cost_price) * 100 )}}%</p>

{% if album.stock|int >= 3 %}
    <p>Stock Level = {{ album.stock }}</p>
{% elif album.stock|int == 0 %}
    <p class="no-stock">OUT OF STOCK ❌ </p>
{% elif album.stock|int < 3 %}
    <p>Stock Level = {{ album.stock }}</p> <p class="stock-warning"> WARNING: LOW STOCK</p>
{% endif %}

<form class="edit-form" action="/albums/{{album.id}}/edit">
    <button class="edit-button">EDIT</button>
</form>

<form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
    <button class="trash-button">DELETE</button>
</form>



{% endblock content %}