{% extends 'base.html' %}

{% block content %}

<h3>Viewing Album: {{album.title}}</h3>
<section>
  
       
   
    <span><p class="album-title"> {{ album.title }}</p> by <p class="album-artist"><a class="artist-link" href="/artists/{{album.artist.id}}">{{ album.artist.name }}</a></p></span>
    <h3>Record Label: <p class="label-name"><a class="label-link" href="/labels/{{album.label.id}}">{{ album.label.name }}</a></p></h3>
    <div class="album-container">
        <table>
            <tr>   
                <td><p class="table-label">Genre:</p><a class="genre-link" href="/genres/{{album.genre.id}}">{{ album.genre.category }}</a></td>
                <td><p class="table-label">Release Year:</p> {{ album.release_year }}</td>
                {% if album.stock >= 3 %}
                <td><p class="table-label">Qty. in Hand:</p> {{ album.stock }}</td>
            {% elif album.stock == 0 %}
                <td class="no-stock"><span>OUT OF STOCK</span></td>
            {% elif album.stock < 3 %}
                <td class="stock-warning"><span> WARNING: LOW STOCK ({{album.stock}})</span></p></td>
            {% endif %}
                </td>
            </tr>
            <tr>
                <td><p class="table-label">R.R.P:</p> £{{ '%0.2f'| format(album.price) }}</td>
                <td><p class="table-label">Cost Price:</p> £{{ '%0.2f'| format(album.cost_price) }}</td>
                
                {% if album.cost_price > 0 %}
                <td><p class="table-label">Markup:</p> {{ '%0.2f'| format(((album.price - album.cost_price) / album.cost_price) * 100 )}}%</td>
                {% else %}
                <td><p class="table-label">Markup:</p> Free Stock</td>
                {% endif %}
            </tr>
        </table>
        <img class ="cover-art" src="{{album.cover_art}}" alt="Album Cover Art">
    </div>

    
    <div class="buttons-container">
        <form action="/albums/{{album.id}}/order", method="POST">
            <button class="order-btn">ORDER STOCK</button>
        </form>
        <form action="/albums/{{album.id}}/sell", method="POST">
            <button class="order-btn">SELL STOCK</button>
        </form>
        <form class="edit-form" action="/albums/{{album.id}}/edit">
            <button class="edit-button">EDIT</button>
        </form>
        <form class="delete-form" action="/albums/{{album.id}}/delete" method="POST">
            <button class="trash-button">DELETE</button>
        </form>
    </div>
</section>

{% endblock content %}